<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">


<link rel="stylesheet" href="/styles/main.css">
<body>

    <div id="demo" class="carousel slide" data-bs-ride="carousel">

        <!-- Indicators/dots -->
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
          <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
          <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
          <button type="button" data-bs-target="#demo" data-bs-slide-to="3" ></button>
          <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
          <button type="button" data-bs-target="#demo" data-bs-slide-to="5"></button>
        </div>
      
        <!-- The slideshow/carousel -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://imgd.aeplcdn.com/1056x594/n/cw/ec/122101/yamaha-fz-x-right-side-view0.jpeg?isig=0&wm=2&q=80" alt="Los Angeles" class="d-block w-100">
            <div class="carousel-caption">
                <h3>RACING YOUR DNA</h3>
              <p>FZ Version3</p>
              </div>  
        </div>
          <div class="carousel-item">
            <img src="https://static1.hotcarsimages.com/wordpress/wp-content/uploads/2021/04/yt1234132.jpg" alt="Chicago" class="d-block w-100">
            <div class="carousel-caption">
              <h3>RACING YOUR DNA</h3>
              <p>yz New Version</p>
              </div>  
        </div>
          <div class="carousel-item">
            <img src="https://www.timesbull.com/wp-content/uploads/2024/02/Yamaha-RX-100-jpg.webp" alt="New York" class="d-block w-100">
            <div class="carousel-caption">
              <h3>RACING YOUR DNA</h3>
              <p>RX 100</p>
              </div>    
        </div>
          <div class="carousel-item ">
            <img src="https://imgd.aeplcdn.com/1056x594/n/cw/ec/106461/left-side-view10.jpeg?isig=0&wm=2&q=75&q=75" alt="Los Angeles" class="d-block w-100">
            <div class="carousel-caption">
              <h3>SCOOTY ALPHA</h3>
              <p>“A life lived in love will never be dull.”</p>
              </div>  
        </div>
          <div class="carousel-item">
            <img src="https://qph.cf2.quoracdn.net/main-qimg-a00f5b40b837c11e9b04225b88280265-lq" alt="Chicago" class="d-block w-100">
          
            <div class="carousel-caption">
              <h3>RACING YOUR DNA</h3>
              <p>R15 Version 4</p>
              </div>  </div>
          <div class="carousel-item">
            <img src="https://miro.medium.com/v2/resize:fit:1400/1*aa4W96pCOClC54JjZOj5TA.png" alt="New York" class="d-block w-100">
            <div class="carousel-caption">
              <h3>RACING YOUR DNA</h3>
              <p>SCOOTY Fasino Version 3</p>
              </div>  
        </div>
        </div>
      
        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
          <span class="carousel-control-next-icon"></span>
        </button>
      </div>

    
</body>
</html>
<style>

  #demo{
    margin-top: 70px;
  }
</style>