<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 ERROR</title>
</head>
<body>
    <br><br><br>

    <center><h1>404 USER NOT FOUND AND EXIST</h1></center>
    <br><br>
    <center><a href="/"><h3>GO BACK HOME</h3></a></center>
    <br>

    <center><img style="width: 40%;" src="https://static-00.iconduck.com/assets.00/9-404-error-illustration-2048x908-vp03fkyu.png" alt=""></center>
    
</body>
</html>