<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALL BIKES DETAILS</title>
</head>
<%- include('../views/partials/adminnav.ejs') %>


<link rel="stylesheet" href="/styles/bikedet.css">
<body>
    <div class="apply">
        <div class="main">
            <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="https://imgd.aeplcdn.com/1056x594/n/cw/ec/122101/yamaha-fz-x-right-side-view0.jpeg?isig=0&wm=2&q=80" alt="Los Angeles" class="d-block w-100">
                  <div class="carousel-caption">
                      <h1><%= h1  %></h1>
                    <p>FZ Version3</p>
                    </div>  
              </div>


        </div>

        <table border="2px">
            <thead>
        <tr>
            <th>SNO</th>
            <th>YOUR NAME</th>
            <th>FINANCE NAME</th>
            <th>EMAIL ID</th>
            <th>CONTACT</th>
            <th>EVENT DATE</th>
            <th>PACKAGE</th>
            <th>PRICE</th>
            <th>DESCRIPTION</th>

            <th>ACTION</th>
        </tr>
        
            </thead>

         
        </table></div>
</body>


<br><br>

    

</html>

    
</body>
</html>