<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br><br><br>
    <center><h1>HELLOO...! <%= h1 %></h1></center>
    <center><h1>YOU ARE NOT OUR CUSTOMER, PLEASE EXIST YOUR DETAILS...!</h1></center>
    <center><h4><a href="/">BACK TO HOME>>></a></h4></center>
    <center><img src="https://wallpapers.com/images/hd/thumbs-down-emoji-expression-pumod8q9cuqhtj0g.jpg" alt=""></center>
</body>
</html>
<style>

    body{
        background: linear-gradient(150deg, rgba(255, 255, 0, 0.253), rgba(255, 166, 0, 0.274));
    }
</style>