<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FEEDBACK PAGE </title>
</head>
<%- include('../views/partials/mainnav.ejs') %>


<link rel="stylesheet" href="/styles/feedback.css">
<body>
    <div class="apply">
        <div class="mai">
            <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="https://imgd.aeplcdn.com/1056x594/n/cw/ec/122101/yamaha-fz-x-right-side-view0.jpeg?isig=0&wm=2&q=80" alt="Los Angeles" class="d-block w-100">
                  <div class="carousel-caption">
                      <h1><%= h1  %></h1>
                    <p>FZ Version3</p>
                    </div>  
              </div>
        </div></div>

        

        <div class="main">
            <form class="f" action="/givefeed" method="post" novalidate>
                
                <input type="text" name="cname"  placeholder="YOUR NAME" required>
                <input type="email" name="email" placeholder="EMAIL" required>
               
                <input type="text" name="bname" placeholder="BIKE NAME" required maxlength="10" required>
              
                <input type="text" name="model"  placeholder="MODEL NAME" required>
        
        
                <select name="star" value="star" class="package" required>
        
        <option class="pack" >GIVE STARS</option>
        <option class="pack" >STAR 1</option>
        <option class="pack" >STAR 2</option>
        <option class="pack" >STAR 3</option>
        <option class="pack" >STAR 4</option>
        <option class="pack" >STAR 5</option>
        
                </select>
                <input type="text" name="complaint" placeholder="COMPLAINTS" style="height: 150px;">
                <div>
                
                <button>SUMBIT</button></div>
            </form></div>
    
</body>
</html>