<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    <br><br>

    <center><h1><%= h1 %></h1></center>
    <center><h3>YOUR FEEDBACK SENTED..!</h3></center><br><br><br>
    <center><a href="/"><h2>BACK TO HOME>>></h2></a></center>

    <%- include('../views/partials/mainheader.ejs') %>


    
</body>
</html>
<style>

    body{
        background-color: rgb(202, 147, 253);
    }
</style>